
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: url('/img/loginbg.gif') no-repeat center center fixed;
    background-size: cover;
}
nav {
    display: flex;
    gap: 30px;
    background-color: rgb(241, 192, 128);
    padding: 20px;
    position: fixed;
    z-index: 1;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    height: 20px;
}
.an {
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 850;
    margin-left: 300px;
    justify-content: first baseline;
}

nav a img.logo {
    height: 50px;
    width: auto;
    justify-content: flex-start;
    margin-left: 30px;
    padding: auto;
}

nav .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 30px;
    height: auto;
    width: auto;
}

nav .buttons button {
    background-color: rgb(244, 186, 99);
    border-color: rgb(115, 81, 6);
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 12px;
}

nav .buttons button:hover {
    background-color: rgb(208, 145, 8);
    border-color: rgb(223, 145, 29);
}

.form-container {
    background-color: rgba(225, 212, 128, 0.8);
    padding: 20px;
    border-radius: 8px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #000000;
}

.input-group {
    margin-bottom: 15px;
    width: 90%;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #947609;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c49c4b;
}

.register{
    color: black;
    margin-top: 8px;
    font-size: small;
}